header {
    width: 100%;
    background: transparent;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

section.container {
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: max-content;
    gap: 10%;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    padding-bottom: 6pc;
}

header .header-circle {
    width: 90%;
    height: 90%;
    max-width: 500px;
    max-height: 500px;
    background: linear-gradient(rgb(0, 50, 60), rgb(0, 80, 80));
    filter: blur(60px) opacity(0.4);
    border-radius: 50%;
    display: flex;
    position: absolute;
    top: 6%;
    left: -10%;
}

header .header-text-div {
    width: 100%;
    display: flex;
    flex: 1;
    gap: 10%;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    padding-top: 10pc;
    padding-bottom: 6vmin;
    z-index: 99;
    justify-content: space-evenly;
}

header .header-text-div .text-upper {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    place-self: center;
    position: relative;
}

.header-text-div .text-upper .header-image {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    height: 100%;
    border-radius: 40px;
    overflow: hidden;

}

.header-text-div .text-upper img {
    width: 120%;
    height: 120%;
    filter: hue-rotate(60deg) saturate(5);
}

.header-text-div .header-developer-info {
    width: 90%;
    max-width: 300px;
    background-color: rgb(0, 53, 53, 0.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 12px;
    border-radius: 20px;
    position: absolute;
    z-index: 99;
    right: -20px;
    bottom: 10px;
    box-shadow: 6px 6px 12px rgb(0, 0, 0, 0.1);
}

.header-developer-info p.developer-name {
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 1px;
    font-family: PoppinsSemi;
}

.header-developer-info p.titles {
    font-size: 12px;
    font-weight: lighter;
}

.header-text-div .text-lower {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    text-align: left;
    max-width: 600px;
    padding: 10px;
}

.text-lower p.upper-text {
    width: 100%;
    font-size: 3.2rem;
    line-height: 3.4rem;
    font-weight: bolder;
    margin-bottom: 10px;
    font-family: PoppinsBold;
}

.text-lower p.under-texts {
    width: 100%;
    font-size: 1rem;
}

.text-lower a {
    width: 100%;
    max-width: 300px;
    background-color: none;
    padding: 10px;
    border-radius: 20px;
    margin-block: 2rem;
    color: white;
    align-items: center;
    font-weight: bolder;
    font-family: monospace;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    text-align: center;
    border: 2px solid var(--primary);
}

.text-lower a span {
    font-size: 20px;
}

.text-lower a:hover {
    box-shadow: 0px 0px 20px rgba(0, 208, 208, 0.6);
    scale: 95%;
    color: rgb(0, 24, 24);
    background: var(--primary);
}

.text-lower a:hover span {
    color: rgb(0, 24, 24);
    transform: translateX(-200px);
}

section.about {
    align-items: flex-start;
}

.about img {
    width: 100%;
    height: 100%;
    max-width: 400px;
    place-self: center;
    filter: hue-rotate(60deg) saturate(5);
}

.about .about-me-div {
    width: 98%;
    padding: 10px;
    padding-block: 20px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    background: rgb(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgb(0, 53, 53, 0.6);
}

.about .about-me-div h1 {
    font-weight: bolder;
    font-size: 25px;
}

.about .about-me-div p {
    font-weight: lighter;
    margin-bottom: 10px;
    color: #efefef;
    text-align: left;
    padding-inline: 10px;
}

.about-me-div a.contact-btn {
    width: 90%;
    background-color: var(--primary);
    color: rgb(0, 24, 24);
    font-weight: bolder;
    text-align: center;
    font-family: PoppinsSemi;
    padding: 8px;
    border-radius: 30px;
    border: 2px solid transparent;
}

.about-me-div a.contact-btn:hover {
    scale: 0.96;
    border-color: var(--primary);
    background: none;
    color: var(--primary);
}

section.skills {
    flex-direction: column;
    gap: 20px;
}

.skills h1 {
    font-size: 30px;
    font-weight: bolder;
    font-family: PoppinsBold;
}

.skill-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.skill-icons div.skill-div {
    width: max-content;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px rgba(0, 53, 53, 0.4);
}

.skill-icons div.skill-div:hover {
    scale: 1.1;
    box-shadow: 0px 0px 10px rgba(0, 53, 53, 0.6);
}

.skill-icons .skill-div p {
    font-weight: bolder;
    padding-inline: 6px;
}

.skill-icons i {
    font-size: 5rem;
    color: var(--primary);
    transition: all 0.3s ease-in-out;
}

.skill-icons i:hover {
    color: var(--accent);
}

.skills a.many-more {
    font-weight: bolder;
    font-size: small;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 10px;
}


section.services {
    flex-direction: column;
    gap: 20px;
}

.container h1 {
    font-size: 30px;
    letter-spacing: 0.8px;
    font-weight: bolder;
    font-family: PoppinsBold;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    column-gap: 40px;
    justify-content: center;
}

.service-card {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid var(--primaryTrans);
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    max-width: 350px;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.3s ease-in-out;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 255, 255, 0.1), 10px -2px 15px rgba(255, 187, 0, 0.04), -10px 5px 18px rgba(51, 255, 0, 0.03), 0px -20px 20px rgba(255, 60, 0, 0.03);
}

.service-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.service-title i {
    font-size: 2rem;
    color: var(--primary);
}

.service-title h2 {
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: PoppinsSemi;
}

.service-description {
    font-size: 1rem;
    font-family: PoppinsLight;
    color: #efefef;
}

.price {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary);
}

.price span.price-text{
    font-size: 1.25rem;
    font-weight: bolder;
}

.price-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.page-slider {
    display: flex;
    align-items: center;
    gap: 10px;

}

.page-slider label {
    font-size: 1rem;
}

.page-slider input[type="range"] {
    accent-color: var(--primary);
    fill: white;
    cursor: pointer;
    width: 90%;
}

#page-count {
    font-weight: bold;
}

.service-perks {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.service-perks li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
}

.service-perks i {
    color: var(--primary);
}

.cta-btn {
    width: 100%;
    max-width: 300px;
    background-color: var(--primary);
    color: #0A192F;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    border: 2px solid transparent;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    font-family: PoppinsSemi;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.cta-btn:hover {
    background: none;
    color: var(--primary);
    border-color: var(--primary);
    transform: scale(0.95);
}

section.collaboration, section.partnership {
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.collaboration h1, .partnership h1 {
    font-size: 25px;
    font-weight: bolder;
    font-family: PoppinsBold;
}

.collaboration p, .partnership p {
    padding-inline: 10px;
    max-width: 850px;
    margin: 0 auto;
    color: #efefef;
    font-size: 1.2rem;
    text-align: left;
}

.collaboration .skill-icons {
    margin-top: 20px;
}

section.testimonials {
    flex-direction: column;
    gap: 15px;
}

.testimonials h1 {
    font-size: 25px;
    font-weight: bolder;
    font-family: PoppinsBold;
}

.testimonial-carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.testimonial-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding: 6px;
    padding-inline: 50px;
    align-items: center;
    border-radius: 50px;
}

.testimonial {
    min-width: 300px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid var(--primaryTrans);
    border-radius: 20px;
    margin: 0 20px;
    transform: scale(0.8);
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}

.testimonial.active {
    place-self: center;
    transform: scale(1);
    opacity: 1;
    box-shadow: 0px 1px 10px rgba(0, 255, 255, 0.1), 1px -4px 12px rgb(0, 53, 53, 0.6);
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.testimonial-text {
    color: #efefef;
    margin-bottom: 15px;
}

.testimonial-author {
    font-weight: bold;
    font-family: PoppinsSemi;
    color: var(--primary);
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid var(--primaryTrans);
    color: var(--primary);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    width: 50px;
    height: 50px;
    font-size: 18px;
    font-weight: bolder;
    background: rgba(0, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.prev-btn:hover, .next-btn:hover {
    scale: 0.98;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

section.contact {
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.contact h1 {
    font-size: 25px;
    font-weight: bolder;
    font-family: PoppinsBold;
}

.contact p {
    max-width: 800px;
    margin: 0 auto;
    color: #efefef;
    font-size: 1.1rem;
}

.contact-links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.contact-links a {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid var(--primaryTrans);
    border-radius: 14px;
    padding: 10px 20px;
    color: var(--primary);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}

.contact-links a:hover {
    background-color: var(--primary);
    box-shadow: 0px 0px 12px var(--accent);
    color: #0A192F;
}

.contact-links a:hover i {
    color: #0A192F;
}
